---
import Button from "../ui/Button.astro";
import Section from "../ui/Section.astro";
---

<Section
  id="about"
  title="About Me"
  subtitle="whoami /user"
>
  <div class="grid md:grid-cols-2 gap-12 items-center">
    <div class="relative">
      <div class="relative z-10 overflow-hidden p-1">
        <div class="w-full h-full overflow-hidden">
          <img
            src="/assets/images/bitmoji.png"
            alt="Desenvolvedor Front-end"
            class="max-w-[390px] w-full h-auto object-contain mx-auto"
          />
        </div>
      </div>
      <!-- Background decoration -->
      <div
        class="absolute top-10 -left-6 w-28 h-28 bg-primary/20 dark:bg-primary/10 rounded-full filter blur-xl"
      >
      </div>
      <div
        class="absolute -bottom-6 -right-6 w-28 h-28 bg-secondary/20 dark:bg-secondary/10 rounded-full filter blur-xl"
      >
      </div>
    </div>

    <div class="space-y-6">
      <h3 class="text-2xl font-bold">
        Professional Probelm Solver i.A.
      </h3>

      <p class="text-gray-600 dark:text-gray-300">
        Hey, I'm a Junior System Engineer based in Aargau, Switzerland.
        <br /><br />
        I mainly work with networks, servers, and IT infrastructure. Solving technical problems and keeping systems stable is what I enjoy most. <br /><br />    
        I have a passion for scripting with PowerShell, and I'm currently learning Python to explore automation and programming deeper.
        <br /><br />       
        At the moment, I'm also setting up my own homelab to experiment with new technologies and learn more aboute IT infrastructures. <br /><br />    
        This summer, I’m finishing my Apprenticeship as Platform Developer. (EFZ)<br /><br />    
      </p>
    </div>
  </div>
</Section>

