---
import Section from "../ui/Section.astro";
import Card from "../ui/Card.astro";
import Button from "../ui/Button.astro";
---

<Section
  id="contact"
  title="Get in touch"
  subtitle="Feel free to reach out to me via email. I'm always open to new opportunities, projects, or just a good nerdy conversation!"
  
>
  <div class="w-full flex justify-center">
    <Button href="mailto:mail@silvanmeier.ch" size="lg" >mail@silvanmeier.ch</Button>

  </div>
</Section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("contact-form") as HTMLFormElement;

    form?.addEventListener("submit", (e) => {
      e.preventDefault();

      // Em um cenário real, você enviaria os dados para seu backend
      // Simulando envio bem-sucedido
      alert("Mensagem enviada com sucesso! Entrarei em contato em breve.");
      form.reset();
    });
  });
</script>

