---
import Button from "../ui/Button.astro";
---

<section class="relative min-h-screen flex items-center overflow-hidden">
  <!-- Hintergrundbild -->
  <div class="absolute inset-0 z-0">
    <img 
      src="/assets/images/Background2.jpeg" 
      alt="Background" 
      class="w-full h-full object-cover opacity-30"
      loading="lazy"
    />
    <div class="absolute inset-0 bg-black/40"></div> <!-- leicht dunkle Überlagerung -->
  </div>

  <!-- Inhalt (Text und dein Bild) -->
  <div class="relative z-10 container mx-auto px-4">
    <div class="flex flex-col md:flex-row items-center gap-10">
      <div class="w-full md:w-1/2 space-y-6">
        <div>
          <p class="text-lg font-medium text-primary mb-3 animate-fade-in-down">
            Hey, my name is
          </p>
          <h1 class="text-5xl md:text-5xl lg:text-5xl font-bold leading-tight animate-fade-in-down">
            Silvan Meier
          </h1>
          <p class="mt-6 text-lg md:text-xl text-gray-600 dark:text-gray-300 animate-fade-in-down">
            and this is my Portfolio...
          </p>
        </div>

        <div class="flex flex-wrap gap-4">
          <Button class="animate-fade-in-down" href="#about" variant="outline" size="lg">
            About Me
          </Button>
        </div> 
      </div>

      <div class="w-full md:w-1/2">
        <div class="relative">
          <!-- Hero Image -->
          <div class="relative z-10 overflow-hidden">
            <div class="w-full max-w-[500px] mx-auto rounded-3xl overflow-hidden">
              <img
                src="/assets/images/ich.jpeg"
                alt="Hero Image"
                class="w-full h-auto object-contain"
              />
            </div>
          </div>
          <!-- Hintergrund-Dekoration -->
          <div class="absolute top-10 -right-6 w-36 h-36 bg-secondary/20 dark:bg-secondary/10 rounded-full filter blur-2xl"></div>
          <div class="absolute -bottom-6 -left-6 w-36 h-36 bg-primary/20 dark:bg-primary/10 rounded-full filter blur-2xl"></div>
        </div>
      </div>
    </div>
  </div>
</section>
