---
const currentYear = new Date().getFullYear();
---

<footer class="py-12 bg-light-card/50 dark:bg-dark-card/50">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="mb-6 md:mb-0">
        <p class="text-2xl font-bold bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent">SM</p>
        <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
          Junior System Engineer
        </p>
      </div>
    
    <div class="text-center text-sm text-gray-600 dark:text-gray-400">
        © {currentYear} Developed by Silvan Meier
      </p>
    </div>
  </div>
</footer> 